body{
    font-size: 18px;
    color: #2D3748;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,'Helvetica Neue', Arial, "Noto Sans", sans-serif;
    box-sizing: border-box;
    margin:0 ;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
   

}
 
      

#bug{
    float:left;
    line-height: 2px;
    padding:10px;
    clear: left;
    
}

.center{
    line-height: 1px;
    padding:10px;
    margin: 0;
}


header{
    background-color: black;
    color: white;
    padding: 15px; 
    line-height: 2px;
    width: 110%;
    margin: 0;
    /* text-align: center; */
}

form{

    width: 40%;
    margin-left: 12cm;
    padding: 20px;
    border-radius: 20px;

}

h2 {

    text-align: center;

    margin-bottom: 40px;

}

input {

    display: block;

    border: 2px solid black;

    width: 95%;

    padding: 10px;

    margin: 10px auto;

    border-radius: 5px;

}

label {

    color: black;

    font-size: 18px;
   
    padding: 10px;

}

button {

    float: left;

    background: rgb(35, 174, 202);

    padding: 10px 15px;

    color: #fff;

    border-radius: 5px;

    margin-right: 10px;

    border: none;

}

button:hover{

    opacity: .10;

}
.formbtn{
    background-color: seagreen;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    border: transparent;
    margin-top: 35px;
}

.error {

   background: #F2DEDE;

   color: #0c0101;

   padding: 10px;

   width: 95%;

   border-radius: 5px;

   margin: 20px auto;

}

h1 {
    padding-right: 100px;
    /* text-align: center; */
    font-weight: 800;
    color: rgb(134, 3, 3);
    
}

a {

    float: right;

    background: rgb(183, 225, 233);

    padding: 10px 15px;

    color: #fff;

    border-radius: 10px;

    margin-right: 10px;

    border: none;

    text-decoration: none;

}

a:hover{

    opacity: .7;

}