body{
  font-size: 18px;
  color: #2D3748;
  font-family:Georgia, 'Times New Roman', Times, serif; 
  box-sizing: border-box;
  margin:0;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
 

}

    

#bug{
  float:left;
  line-height: 2px;
  padding:10px;
  
}

.center{
  line-height: 1px;
  padding:10px;
  margin: 0;
}


header{
  background-color: black;
  color: white;
  padding: 15px; 
  line-height: 2px;
  width: 110%;
}

.issue{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 10px; */
  grid-row-gap: 10px;
}

main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-column-gap: 10px; */
  grid-row-gap: 10px;
}

.article{ 
 justify-content: center;
 padding-left:25px; 
}
.tab-content .h1{
color: #000;
font-size: 30px;
font-weight: 700;
}


input{
  width: 500px;
  margin-bottom: -10px;
  padding-bottom: 10px;
}
input[type=text]{
width: 90%;
padding: 12px 20px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-bottom: 25px;
background-color: #f5f4f4;
}
#issue_submit{
background-color: rgb(4, 4, 214);
color: white;
font-weight: 900;
opacity: 5;
width: 25%;
border-radius: 5px;
padding: 5px 10px;
}
.description{
width: 60%;
height: 40%; 
margin-bottom: 25px;
background-color:#f5f4f4;
}
select {
width: 40%;
padding: 12px 20px;
margin: 50px 20px;
border: none;
border-radius: 4px;
margin-bottom: 25px;
background-color:#f5f4f4;

}
label{
padding: 12px 12px 12px 0;
font-size: medium;
display: inline-block;
}
form{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin-left: 25px;
}
#new h3{
color:black;
font-weight: 700;
margin-left: 25px;
font-size: 30px;
}
#add h3{
color:black;
font-weight: 700;
margin-left: 35px;
font-size: 30px;
}

.submit{
  width: 85px;
  background-color: blue;
  font-weight: 700;
  color: white;
  padding: 9px;
  margin-top: 10px;
  border-radius: 5px;
}

#right{
  float:left; 
}
.asideBar{
  width: 30%;
  float: right;
  display: flex;
  text-align: right;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 21px;
  /* position: relative;
  top: -460px */
}

.display{

  padding: 30px;
  padding-right:25px;
  margin-right: 45px;
  margin-right: 45px;
}

.nav{

  width: 255px;
  height: 1000px;
  z-index: 1;
  top: 25; 
  left:0; 
  float: left;
  position: relative;
  overflow-x: hidden;
  
  background-color:rgb(209, 209, 209); 

}
.tab-content{
  padding: 10px;
}
.section{
  display: grid;
  grid-template-areas:
  'tabs tab-content tab-content tab-content asideBar'
  'tabs tab-content tab-content tab-content asideBar'
  'tabs tab-content tab-content tab-content asideBar'

}
.bar{
  border: 1px solid; 
  padding: 10px;
  border-color: black;
  border-radius: 5px;
  width: 160px;
  height: auto;
  background-color:  #f1f1f1;
  /* background-color: rgb(209, 209, 209); */
  text-align: left;
  font-size: 14px;

  
}

.lineHeight{
  line-height: 0.2px;
}
.buttons{
  padding: 15px;
  margin-top: 10px;
  margin-left: -15px;
}
.blue{
   background-color: #5A67D8; 
   border: #5A67D8; ; 
   border-radius: 5px;
   width: 12em;
   height:3em;
   padding: 15px;

}
.tabs a{
  text-decoration: none;
}
.green{
  background-color: rgb(60, 218, 21);
  border-radius: 5px;
  border: rgb(60, 218, 21);
  padding: 15px;
  width: 12em;
   height:3em;
}

.mainNav a{
  bottom: 0;
  color: black;
  display: block;
  text-decoration: none;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
}

.mainNav a:hover{
  color: rgb(26, 22, 22);

}

/* Start of abe's code */
/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color:lightblue
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
 
  padding: 20px;
}

/*Shadowboxes for Create Issue form*/
input, textarea, select{
  box-shadow: 1px 1px 1px 1px #888888;
  
}


/* home screen: dancye's part */
.issues{
  display: flex;
  justify-content: space-between;
}
.filter{
  display:flex;
  padding-left: 10px;
}

#h1{
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 700;
  padding-left: 15px;
  padding-top: 10px;


}
#par{
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 35px;
  padding-top: 8px;
}
table{
  border-collapse: collapse; 
  font-family:sans-serif;
  width: 100%;
}
em{
  font-weight: bold;
}
th, td {
  padding: 15px;
  text-align: left;
}
tr:first-child {
  background-color: #e2e2e2;
  border-radius: 2.5px;
  }
#status2{
  font: 1em sans-serif;
  text-transform: uppercase;
  text-align: center;
  color:white;
  background-color: orangered;
  opacity: 0.9;
  padding: 7px;
  border: none;
  border-radius: 5.5px;
}
#status1{
  text-transform: uppercase;
  text-align: center;
  font: 1em sans-serif;
  color:white;
  background-color: green;
  opacity: 0.7;
  padding: 7px;
  border: none;
  border-radius: 5.5px;
}
#status3{
  text-transform: uppercase;
  text-align: center;
  color:black;
  font: 1em sans-serif;
  background-color:gold;
  padding: 9px;
  border: none;
  border-radius: 5.5px;
}
input[type=button]{
  margin: auto;
}
.new-issue{
  background-color: green;
  opacity: 0.7;
  font-size: 17px;
  font:sans-serif;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  height: 55px;
  width: 185px;
  margin-right: 45px;
}
.new-issue{
  background-color: green;
  opacity: 0.7;
  font: 1em sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  height: 40px;
  width: 165px;
  margin-right: 45px;
  font-weight: 700;
}
.filter{
  padding-bottom: 25px;
  padding-top: 10px;
}
.par{
  padding-top: 6px;
}
.all, .open, .myticket{
  color: #000;
  text-transform: uppercase;
  border: transparent;
  background-color: transparent;
  margin-left: 25px;
  padding: 3px, 15px, 3px, 15px;
  text-align: center;
  font-weight: 700;
}
.all:active, .open:active, .myticket:active{
background-color: blue;
border-radius: 5px;
border: transparent;
color: white;
}
.all:focus, .open:focus, .myticket:focus{
background-color: blue;
border-radius: 5px;
border: transparent;
color: white;
}